.container {
  width: 50%;
  /* margin: auto; */
  background-color: gray;
  margin-top: 1rem;
  border-radius: 10px;
  border-color: white;
}

.content_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  text-align: left;
  font-weight: 700;
  margin-top: 4rem;
  /* margin-bottom: 3rem ; */
}

.subheading {
  text-align: center;
  font-weight: 100;
  font-size: 100%;
}

.exercise_buttons {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  /* text-align: center;
  margin: 1%; */
  /* background-color:#826DEC ; */
}

.individual_buttons {
  border-radius: 5px;
  background-color: #826DEC;
  color: white;
}

.change_chart_type_button {
  border-radius: 5px;
  background-color: #36454F;
  color: white;
}


/* Styling for Gender Input */
  .gender_span {
    margin-right: 2%;
  }

  .female_input {
    margin-left: 1%;
  }

  .male_input {
    margin-left:1%
  }