.brand {
  font-weight: bold;
  color: green;
  font-size: 2vh;
}

.navbar-nav {
  /* display: flex; */
  /* justify-content: flex-end; */
  /* padding: 0px; */
  /* list-style-type: none; */
}

.links {
  font-weight: bold;
  padding: 5px 10px;
}

.relative {
  text-align: center;
}


.dropdownlink {
  margin: auto;
}

#navbarNavDarkDropdown {
  padding-right: 10%;
}




