.brand {
  font-weight: bold;
  color: green;
  font-size: 2vh;
}

.links {
  font-weight: bold;
  padding: 5px 10px;
}

.relative {
  text-align: center;
}


.dropdownlink {
  margin: auto;
}

#navbarNavDarkDropdown {
  padding-right: 10%;
}




