.container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.western_div,
.eastern_div {
  /* flex: 1;
  padding: 10px;
  box-sizing: border-box;
  width: 30vh; */
}

.header {
  text-align: center;
}